<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Basics</title>
    <link rel="stylesheet" type="text/css" href="static/main.css">
</head>
<body>
    <header>
        <h1>Welcome to The Basics of Web Development</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">HTML Basics</a></li>
            <li><a href="{{ url_for('web_dev') }}">HTML in Web Development</a></li>
            <li><a href="{{ url_for('intro_flask') }}">Introduction to Flask</a></li>
            <li><a href="{{ url_for('books') }}">Recommended Books</a></li>
        </ul>
    </nav>
    
    <main>
    {% block content %}

    <!--Content from other HTMLs-->

    {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 DTE-2509</p>
    </footer>
</body>
</html>
